html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden; 
}

.code {
    position: relative;
    height: 74.75%;
    width: 100%;
}

.CodeMirror {
    font-family: Inconsolata, monospace;
    font-size: 19px;
    height: 100%;
    /* resize: vertical; */
}

.CodeMirror-linenumber {
    padding: 1px 8px 0 20px;
}

#lang {
    z-index: 3;
    float: right;
    position: absolute;
    right: 20px;
    top: 20px;
    height: 30px;
    width: 100px;
    border-radius: 20px;
    font-size: 20px;
    display: flex;
    text-align: center;
}

#compileAndRun {
    z-index: 2;
    float: right;
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: white;
    height: 60px;
    width: 60px;
    border: none;
    border-radius: 100%;
    cursor: pointer;
}

body{
    color: red;
}

.in-out-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    height: 24.75%;
}

#stdin {
    padding: 0;
    flex: 1;
    left: 0;
    height: 100%;
    width: 50%;
    background-color: black;
    color: white;
    border: none;
    font-size: 17px;
    resize: none;
}
#stdout {
    padding: 0;
    margin-right: 0;
    /* height: 200px; */
    height: 100%;
    width: 50%;
    background-color: black;
    color: white;
    border: none;
    font-size: 17px;
    /* resize: none; */
}

.vert {
    flex: 0.005;
    position: relative;
    background-color: rgba(53, 46, 44, 0.746);
    width: 0.5%;
    height: 100%;
    float: left;
    cursor: col-resize;
}
.hori {
    position: relative;
    background-color: rgba(53, 46, 44, 0.746);
    height: 0.5%;
    width: 100%;
    cursor: row-resize;
}